h1 {
    text-align: center;
    background-color: orange;
    color: red;
    font-size:50px;
}
main p{
font-size: 40px;
font-family: serif;
color: red;
background-color:orange;
}
.round-image{
border-radius:20px;
width:700px;
height:500px;
float:left;
}
body{
	background-color:orange;
}
.text{
	color:red;
	font-family:serif;
    font-size:40px;
	padding-left:800px;
	}
.dotted-image{
	border:20px dotted red;
	float:right;
	height:500px;
	width:700px;
	}
h2{
	font-size:50px;
    font-family:serif;
	color:red;
	text-align:center;
}
.round-image-div{
	height:600px;
}
.list{
	font-size:40px;
	font-family:serif;
	color:red;
}
.picture-div{
	height:630px;
}
table{
	border:solid 5px red;
	color:red;
	font-size:50px;
	font-family:serif;
}
tr{
	border:solid red 3px;
}
td{
	border:solid red 3px;
}
footer img{
	float:right;
     height:600px;
}
